:root {
  --primary-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --main-font-color: #272142;
}
.hero {
  display: flex;
  text-align: center;
  margin-top: 65px;
  background: rgba(252, 251, 251, 1);
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 265px;
}

.hero-text {
  width: 100%;
  height: 265px;
  top: 65px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
.hero h1 {
  padding-top: 46px;
  font-family: var(--primary-font-family);
  font-weight: 700px;
  color: white;
  font-size: 72px;
}

.hero p {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 24px;
  line-height: 35px;
  color: white;
}

.recipes-list {
  margin-top: 100px;
}

h4 {
  color: var(--main-font-color);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  padding-top: 20px;
}

h3 {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  font-size: 36px;
  font-weight: 700;
}

h1 {
  font-family: var(--primary-font-family);
  font-size: 72px;
  color: var(--main-font-color);
  padding-top: 53px;
  text-align: center;
  font-weight: 700;
}

.about-hero {
  margin-top: 126px;
  margin-bottom: 100px;
}

.about-hero-image {
  width: 460px;
  height: 450px;
  margin-left: 100px;
}

.about-hero h2 {
  font-size: 64;
  font-weight: 700;
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  margin-bottom: 36px;
}
.about-hero-content {
  width: 460px;
  margin-left: 40px;
  margin-top: 62px;
}

.main-text {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.follow {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
}

.social-logo {
  margin-left: 30px;
  color: var(--main-font-color);
  font-family: 18px;
}

.favorite-recipe {
  margin: 0 140px;
}

.favorite-recipe h3 {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.center {
  display: flex;
  justify-content: center;
}
.recipe-collection {
  display: flex;
  flex-direction: column;
  margin-top: 66px;
  width: 760px;
}

.recipe-collection img {
  width: 760px;
  height: 450px;
  margin-top: 60px;
}

.header-recipe {
  margin-top: 32px;
}

hr {
  size: 1px;
  color: #67d5d2;
  text-align: left;
}

.ingredients {
  margin-top: 38px;
}

.ingredients p {
  width: 360px;
  margin-bottom: 0;
}

.step {
  margin-top: 38px;
  font-family: var(--primary-font-family);
  font-size: 18px;
  color: #f65282;
}

h5 {
  font-family: var(--primary-font-family);
  color: #662eed;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-text {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  font-size: 24px;
  font-weight: 400;
}

.contact-icon {
  margin-right: 30px;
}

.contact-content {
  margin-left: 40px;
}

.logo {
  max-width: 150px;
}

nav {
  margin-top: 40px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  font-family: var(--primary-font-family);

  font-size: 16px;
  font-weight: 700;
  display: inline;
  list-style: none;
  margin-left: 16px;
  line-height: 30px;
}

nav a {
  text-decoration: none;
  color: var(--main-font-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #662eed;
}

.footer-background {
  background: #f9f7fe;
  margin-bottom: 0;
}

footer p {
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.footer-text {
  font-family: var(--secondary-font-family);
  color: var(--main-font-color);
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 960px) {
  .h4 {
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 10px;
  }
  .recipes-list {
    margin: 20px 0px;
  }

  .hero h1 {
    font-size: 48px;
    margin: 10px;
  }
  .hero p {
    font-size: 16px;
    line-height: 23px;
  }
  .hero {
    margin-top: 40px;
  }
  .logo {
    margin: 0;
    max-height: 40px;
  }
  .about-hero-content {
    margin-left: 0;
  }
  .about-hero-image {
    display: flex;
    justify-content: end;
  }
  .center {
    margin: 20px 0px;
  }
  .about-hero-image {
    margin-left: 0;
  }
  .recipe {
    display: flex;
    flex-direction: column;
  }
  .ingredients {
    text-align: center;
  }
  .recipe-collection h3 {
    text-align: center;
  }
  .recipe-collection p {
    text-align: center;
  }
  .contact-content {
    margin-left: 0;
  }

  nav a {
    font-size: 14px;
  }
  nav li {
    margin-left: 5px;
  }

  footer {
    margin: 0cm;
  }
  .footer-text {
    font-size: 10px;
    margin-left: 20px;
  }

  .social-logo {
    margin-left: 2px;
  }
  .footer-background {
    margin-bottom: 0;
    padding-bottom: 0px;
  }
} ;
