:root {
  --primary-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --main-font-color: #272142;
}
.hero {
  display: flex;
  text-align: center;
  margin-top: 65px;
  background: rgba(252, 251, 251, 1);
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 265px;
}

.hero-text {
  width: 100%;
  height: 265px;
  top: 65px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
.hero h1 {
  padding-top: 46px;
  font-family: var(--primary-font-family);
  font-weight: 700px;
  color: white;
  font-size: 72px;
}

.hero p {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 24px;
  line-height: 35px;
  color: white;
}

.recipes-list {
  margin: 100px 140px;
}

h4 {
  color: var(--main-font-color);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  padding-top: 20px;
}

.logo {
  margin-top: 48px;
  margin-left: 140px;
}
.navbar-collapse {
  display: flex;
  justify-content: right;
  margin-top: 48px;
  margin-right: 140px;
}

.active {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #662eed;
}

.nav-link {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-left: 20px;
}

.aboutpage-heading h1 {
  font-family: var(--primary-font-family);
  font-size: 72px;
  color: var(--main-font-color);
  padding-top: 53px;
  text-align: center;
  font-weight: 700;
}

.about-hero {
  margin: 126px 240px 100px 240px;
}

.about-hero-image {
  width: 460px;
  height: 450px;
}

.about-hero h2 {
  font-size: 64;
  font-weight: 700;
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  margin-bottom: 36px;
}
.about-hero-content {
  width: 460px;
  margin-left: 40px;
  margin-top: 62px;
}

.main-text {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.follow {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
}

.social-logo {
  margin-left: 30px;
}

.favorite-recipe {
  margin: 0 140px;
}

.favorite-recipe h3 {
  font-family: var(--primary-font-family);
  color: var(--main-font-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  .h4 {
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 10px;
  }
  .recipes-list {
    margin: 20px 0px;
  }

  .hero h1 {
    font-size: 48px;
    margin: 10px;
  }
  .hero p {
    font-size: 16px;
    line-height: 23px;
  }
  .hero {
    margin-top: 40px;
  }
  .logo {
    margin: 0;
  }
  .about-hero-content {
    margin-left: 0;
  }
  .about-hero-image {
    display: flex;
    justify-content: end;
  }
  .about-hero {
    margin: 20px 0px;
  }
  .favorite-recipe {
    margin: 20px 0px;
  }
} ;
